﻿        <div class="row">
                <div class="col-xs-12">
                    <div class="input-group pull-right">
                        <span class="input-group-addon bg-primary"
                              style="width:200px;background-color:transparent;color:#337ab7;border-top-left-radius: 16px!important;border-bottom-left-radius: 16px!important;">
                            Page: <text style="color:gray;">{{currentPage}} | {{totalItems}}  </text>Posts per Page:
                        </span>
                        <select class="form-control"
                                ng-model="placement.selected"
                                ng-change="itemsPerPageChanged()"
                                ng-options="o as o for o in placement.options"></select>
                    </div>
                </div>

                <div class="col-xs-12">
                    <ul uib-pager total-items="totalItems" ng-model="currentPage" align="false" ng-change="pageChanged()"
                        next-text="{{nextText}}" previous-text="{{prevText}}" items-per-page="1"></ul>

                    <h4 ng-hide="{{tagId == 0}}"><b>Posts for tag {{currentTag.Name}}</b></h4>
                </div>
        </div>

        <div class="row" ng-repeat-start="post in posts track by $index">
            <div class=" col-xs-12" style="margin-top:40px;">
                <h4>
                    <a ui-sref="app.blog.post({id: post.Id})"
                       ng-attr-title="{{'See post - ' + post.Title}}">
                        {{post.Title}}
                    </a>
                </h4><i>{{post.PostedOn}}</i>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12 ">
                <div ng-bind-html="post.Description"></div>
            </div>
            <div class="col-xs-12 ">
                <a href="" ng-click="togglePostBody(post.Id, $index)"
                   title="See more  {{post.Title}}" class="link-post-expand">{{postBodyCaption($index)}}</a>
            </div>
        </div>

        <div class="row" style="margin-top:10px;" ng-hide="!(post.isPostBodyOpen || false)" ng-bind-html="post.Body"></div>

        <div class="row" style="margin-bottom:10px;">

            <div class="col-xs-12">
                <span>Tags: </span><br />
                <a ui-sref="app.blog.postsByTag({tagId: tag.Id})"
                   ng-attr-title="{{getTagTitleMessage(tag.Name)}}"
                   ng-click="tagSelected(tag)"  
                   ng-repeat-start="tag in post.Tags">{{tag.Name}}
                </a>               
                <span ng-repeat-end ng-hide="$last">, </span>
            </div>
        </div>

        <div ng-repeat-end class="row" style="margin-bottom:10px;">
            <div class="col-xs-12 ">
                <a href="" ng-click="addPostLike(post.Id, post.IsAuthenticated,$index, true)">
                    <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <span style="color:green;" uib-popover-html="userNamesWhoLike" popover-title="Likes:" popover-is-open="popoverIsOpen"
                   ng-mouseenter="openTooltip(post.Id, this)" ng-mouseleave="popoverIsOpen = false" popover-placement="top-right">
                    {{post.PostLikesCount}}
                </span>
                <a href="" ng-click="addPostLike(post.Id, post.IsAuthenticated,$index, false)">
                    <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-down"></span>
                </a>               
               <span style="color:red;" uib-popover-html="userNamesWhoLike" popover-title="Dislikes:" popover-is-open="popoverIsOpen"
                   ng-mouseenter="openTooltip(post.Id, this, false)" ng-mouseleave="popoverIsOpen = false" popover-placement="bottom-right">
                    {{post.PostDislikesCount}}
               </span>&nbsp;
               <a ng-click="loadPost(post.Id)" href="" title="See comments">
                    <span ng-if="post.CommentsCount < 2" style="font-size:18px;"> {{post.CommentsCount}} Comment</span>
                    <span ng-if="post.CommentsCount >= 2" style="font-size:18px;"> {{post.CommentsCount}} Comments</span>
               </a>
            </div>
        </div>
   <hr />
   
