﻿
<div class="row">
    <div class="col-xs-12 text-center">
        <h3><b>{{title}} </b></h3>
    </div>
</div>
        <hr class="row hidden-xs visible-md /">
        <div class="row hidden-xs visible-md">
            <div class="col-md-3 "><b>Country</b></div>
            <div class="col-md-3"><b>City</b></div>
            <div class="col-md-3"><b>User</b></div>
            <div class="col-md-3"><b>IP</b></div>
        </div>
        <hr />
        <div class="row" ng-repeat-start="s in visitorsInfo.data.info">
            <div class="col-xs-6 col-md-3 ">
                <span class="f32">
                    <span class="{{'flag ' + s.code.toLowerCase()}}"></span> {{s.country_name}}
                </span>
            </div>
            <div class="col-xs-6 hidden-md">
                city: {{s.city}}<br />
                user: {{s.username}}<br />
                ip: {{s.ip}}<br />
            </div>
            <div class="col-md-3 hidden-xs visible-md ">{{s.city}}</div>
            <div class="col-md-3 hidden-xs visible-md ">{{s.username}}</div>
            <div class="col-md-3 hidden-xs visible-md ">{{s.ip}}</div>
        </div>
        <hr ng-repeat-end />


