﻿    <div class="row">
        <div class="col-xs-12 text-center">
            <h3><b>{{title}} </b></h3>
        </div>
    </div>
    <hr class="row hidden-xs visible-md /">
    <div class="row hidden-xs visible-md text-center">
        <div class="col-md-3 text-left"><b>Country</b></div>
        <div class="col-md-3"><b>Total visitors</b></div>
        <div class="col-md-3"><b>Authenticated</b></div>
        <div class="col-md-3"><b>Anonymous</b></div>
    </div>
    <hr/>
    <div class="row" ng-repeat-start="s in visitorsInfo.data.data">
        <div class="col-xs-6 col-md-3 ">
            <span class="f32">
                <span class="{{'flag ' + s.code.toLowerCase()}}"></span> {{s.name}}
            </span> 
        </div>
        <div class="col-xs-6 hidden-md">
            visitors: {{s.value}}<br />
            authenticated: {{s.usercount}}<br />
            anonymous: {{s.ananimouscount}}<br />
        </div>
        <div class="col-md-3 hidden-xs visible-md text-center">{{s.value}}</div>
        <div class="col-md-3 hidden-xs visible-md text-center">{{s.usercount}}</div>
        <div class="col-md-3 hidden-xs visible-md text-center">{{s.ananimouscount}}</div>
    </div>
    <hr ng-repeat-end />
