﻿@using Blog.Models.Blog;
@model Tag

<div class="modal-content">
    @using (Html.BeginForm("SaveContact", "Home", FormMethod.Post, new { id = Model.Id }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
      

       

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">

            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-12" id="div-info">
                </div>
            </div>



            <div class="row div-sp">

                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Name)
                </div> 
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-save-tag">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    }
</div>



