﻿@model EditPostViewModel
@using Microsoft.AspNet.Identity;
@using Blog.ViewModels;

@{
    
    var i = 0;
    
}


   

@section MainContent{


    @using (Html.BeginForm("InsertOrUpdatePost", "Admin"))
    {  <div class="form-group">
        @Html.AntiForgeryToken()        
        @Html.HiddenFor(m => m.Post.Id)

        <div class="row" style="margin-bottom:50px;">

            <div class="col-xs-12 text-left">
                @Html.LabelFor(m => m.Post.Title) @Html.ValidationMessageFor(m => m.Post.Title)
            </div>


            <div class="col-xs-12">
                @Html.TextAreaFor(m => m.Post.Title, new { @class = "form-control" })
            </div>


        </div>



        <div class="row " style="margin-bottom:30px;">
            <div class=" col-xs-12">
                @Html.LabelFor(m => m.Post.Description) @Html.ValidationMessageFor(m => m.DescriptionCounter)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ @EditPostViewModel.MAXDESCRIPTION │  Entered </span>
                    @Html.TextBoxFor(m => m.DescriptionCounter, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class=" col-xs-12">
                @Html.EditorFor(m => m.Post.Description)

            </div>
        </div>


        <div class="row" style="margin-bottom:30px;">
            <div class=" col-xs-12">
                @Html.LabelFor(m => m.Post.Body) @Html.ValidationMessageFor(m => m.BodyCounter)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ @EditPostViewModel.MAXBODY │  Entered </span>
                    @Html.TextBoxFor(m => m.BodyCounter, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class=" col-xs-12">
                @Html.EditorFor(m => m.Post.Body)
            </div>
        </div>

        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Tags)

                @Html.ValidationMessageFor(m => m.PostTagsCount)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon">  Checked </span>
                    @Html.TextBoxFor(m => m.PostTagsCount, new { @readonly = "readonly", @class = "form-control" })
                </div>

            </div>
            <div class="col-md-12">
                <div style="border: solid 1px lightgray; padding: 12px 12px">
                    <div class="row">
                        @foreach (var tag in Model.Tags)
                        {
                            var controlName = "Post.Tags[" + i++ + "].Id";
                            
                            <div class="col-xs-6 col-lg-3 col-sm-4">
                                <label class="checkbox-inline">
                                    @Html.CheckBox(controlName, tag.Checked, new { value = tag.Id, @class = "check-tag" }) @tag.Name
                                </label>
                            </div>
                        }

                    </div>

                </div>

            </div>
        </div>

           <div class="row" style="margin-bottom:30px;">

               <div class="col-xs-12">
                   <div style="border: solid 1px lightgray; padding: 12px 12px">
                       <label class="checkbox-inline">
                           @Html.CheckBoxFor(m=>m.Post.Published) Published
                       </label>
                   </div>
                   </div>

           </div>



        <div class="row" style="margin-top:40px;">
            <div class=" col-xs-12 text-center ">
                <div class="btn-group ">
                    <button type="submit" class="btn btn-primary " id="btnsave">Save</button>
                    <a class="btn   btn-default  link-delete-post"
                       href="@Url.Action( "GetPosts", "Admin")" title="Cancel">
                        Cancel
                    </a>
                </div>
            </div>

        </div>
    </div>

    }
}



@section RightSideContent{
    
}

@section Scripts{
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
<!-- jquery tinymce library -->
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    
    <script>
    $(document).ready(function () {

        $.validator.setDefaults({ ignore: "" });

        $('.btn').button();

        tinymce.init({
            selector: '#Post_Description',

            charLimit: @EditPostViewModel.MAXDESCRIPTION,
            setup: function(editor) {
                editor.on('keyup', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#DescriptionCounter")
                });
                editor.on('loadcontent', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#DescriptionCounter")
                });
            },

            height: 200,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true,

            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });


        tinymce.init({
            selector: '#Post_Body',
            charLimit: @EditPostViewModel.MAXBODY,
            setup: function(editor) {
                editor.on('keyup', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#BodyCounter")
                });
                editor.on('loadcontent', function (e) {
                    updateTinyMiceHtmlCounter(editor, e, "#BodyCounter")
                });
            },



            height: 500,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true,
            templates: [
              { title: 'Test template 1', content: 'Test 1' },
              { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });


        function updateTinyMiceHtmlCounter(ed, e, inputCopyIdentifier) {
            var  tinylen, htmlcount;
            tinylen = ed.getContent().length;
            $(inputCopyIdentifier).val(tinylen);
        }

        $(".check-tag").change( function () {

            var control = $('#PostTagsCount');
            var value =  parseInt(control.val());

            if ($(this).is(':checked') )
            {
                control.val(++value);
            }
            else
            {
                control.val(--value);
            }
        });

    });
</script>
}






