﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center" style="background-color:ButtonFace;height:60px;vertical-align:middle;">
            <div style="padding-top:20px;"> Footer (under construction)</div>
        </div>
    </div>
</div>