﻿@model IEnumerable<Blog.Models.Visitor.WebVisitor>
@using Blog.Models.Visitor;
@using System.Collections.Concurrent;
@using System.Web.Security;
@using System.Web;

@{

    var visitors = Model.GroupBy(v =>  v.Country.Name)
        .Select(h => new
        {
            CountryName = h.Key,
            
            CountryVisitors = h.GroupBy(hh => hh.IpAddress)
            .Select(hhh => new
            {
                IpAddress = hhh.Key,
                Address = hhh.FirstOrDefault(),
                Visitors = hhh.GroupBy(g =>  g.UserId )
                .Select(gg => new
                     {
                         UserName = gg.Key == null ? null : gg.FirstOrDefault().User.UserName,
                         DateTimes = gg.Select(ggg => ggg.SessionStarted)
                     })
            })
        });

}



@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("About", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">All Visitors for admin</li>

            </ol>
        </div>
    </div>



    @foreach (var i in visitors)
    {
        <div class="row" style="padding-top:30px;">
            <div class="col-xs-12">  <h3> <b>Country: @i.CountryName</b></h3></div>

        </div>

        <div class="h-divider"></div>

        foreach (var ii in i.CountryVisitors)
        {  <div class="row">
            <div class="col-xs-12" style="margin-top:20px;">   <b>IpAddress:</b> @ii.IpAddress</div>
            <div class="col-xs-12">    @ii.Address.City @ii.Address.Region @ii.Address.Zip</div>
        </div>

        <div class="row">
            @foreach (var iii in ii.Visitors)
            {
                <div class="col-xs-12" style="margin-top:14px"><b>User:</b>  @(iii.UserName == null ? "Anonymous" : iii.UserName)</div>
               
                foreach (var iiii in iii.DateTimes)
                {
                    <div class="col-md-4 col-xs-12 col-sm-6 ">@iiii</div>
                }
            }


        </div>
        <div class="h-divider"></div>
        }
    }

}


