﻿@model int
@using Blog.Models.Visitor;
@using System.Collections.Concurrent;
@using System.Web.Security;
@using System.Web;




@section MainContent{ 

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
             <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Who is online (under construction)</li>

        </ol>
    </div>
</div>


<div class="row">
    <div id="container1" class="col-xs-12"></div>
    
</div>
<div id="container" ></div>

}




@section Scripts {

<!--  map -->
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />


<script>
    $(function () {

        
        $.get("@Url.Action("GetOnlineVisitorsByCountriesMap", "Visitor")", function (result) {
            var data = result.data;
            // Add lower case codes to the data set for inclusion in the tooltip.pointFormat
            $.each(data, function () {
               
                this.flag = this.code.replace('UK', 'GB').toLowerCase();
            });

            // Initiate the chart
            $('#container').highcharts('Map', {

                title: {
                    text: 'Right now website visitors by countries'
                },

                legend: {
                    title: {
                        text: 'Visitors',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                        }
                    }
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'top'
                    }
                },

                tooltip: {
                    backgroundColor: 'white',
                    borderWidth: 2,
                    shadow: false,
                    useHTML: true,
                    padding: 3,
                    pointFormat: '<span class="f32"><span class="flag {point.flag}"></span></span> {point.name}<br/>' +                      
                        '<b>Total visitors:</b> {point.value}<br/><b>Authenticated:</b> {point.usercount}<br/><b>Anonymous:</b> {point.ananimouscount}<br/>',

                    positioner: function () {
                        return { x: 0, y: 250 };
                    }
                },

                colorAxis: {
                    min: 1,
                    max: 1000,
                    type: 'logarithmic'
                },

                series: [{
                    data: data,
                    mapData: Highcharts.maps['custom/world'],
                    joinBy: ['iso-a2', 'code'],
                    name: 'Total country visitors',
                    states: {
                        hover: {
                            color: '#BADA55'
                        }
                    }
                }]
            });
        });
    });
   
</script>

}