﻿   <div class="form-group">
     <h3 class="text-center"><b>{{post.Id > 0 ? 'Edit post' : 'New post'}}</b></h3>
    <input class="form-control" type="hidden" ng-model="id" name="Post.Id">
    <div class="row" style="margin-bottom:50px;">
        <div class="col-xs-12 text-left">
            <label>Title</label>
        </div>
        <div class="col-xs-12">
            <textarea class="form-control" type="text" ng-model="post.Title" name="Post.Title"></textarea>
        </div>
    </div>

    <div class="row " style="margin-bottom:30px;">
        <div class=" col-xs-12">
            <label>Description</label>
            <div class="input-group" style="margin-bottom:1px;">
                <span class="input-group-addon"> Html │ Max │{{blogSettings.MAXDESCRIPTION}} │  Entered </span>
                <input class="form-control" type="text" readonly ng-model="descriptionCounter">
            </div>
        </div>
        <div class=" col-xs-12">
            <textarea ng-model="post.Description" name="Post.Description" ui-tinymce="tinymceOptionsDescription"></textarea>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-12">
            <label>Body</label>
            <div class="input-group" style="margin-bottom:1px;">
                <span class="input-group-addon"> Html │ Max │ {{blogSettings.MAXBODY}} │  Entered </span>
                <input class="form-control" type="text" readonly ng-model="bodyCounter">
            </div>
        </div>
        <div class=" col-xs-12">
            <textarea ng-model="post.Body" name="Post.Body" ui-tinymce="tinymceOptionsBody"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top:35px;margin-bottom:-20px; padding-bottom:0px">
        <div class="col-md-12">
            <label>Tags</label>
        </div>
    </div>
   <hr/>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="tag in post.Tags track by $index">
            <label class="btn btn-default btn-block"
                   ng-model="tag.Id" uib-btn-checkbox style="margin-bottom:6px;"
                   btn-checkbox-true="{{tag.CheckedValue}}" btn-checkbox-false="0">
                {{tag.Name}}
            </label>
        </div>
    </div>

   <div class="row" style="margin-top:35px;margin-bottom:-20px; padding-bottom:0px">
           <div class="col-md-12">
                <label> Published</label>
           </div>
    </div>
    <hr />
    <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <label class="btn btn-default btn-block"
                       ng-model="post.Published" uib-btn-radio="true" uncheckable>Yes</label>
           </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <label class="btn btn-default btn-block"
                       ng-model="post.Published" uib-btn-radio="false" uncheckable>No</label>
            </div>
    </div>   
        

    <div class="row" style="margin-top:40px;">
        <div class=" col-xs-12 text-center ">
            <div class="btn-group ">
                <button class="btn btn-primary " ng-click="save(post)">Save</button>
                <a ui-sref="app.adminPosts" class="btn btn-default" title="Cancel edit">Cancel</a>                 
             </div>
        </div>
    </div>
</div>
