﻿

    <div class="form-group">
     <h3 class="text-center"><b>Edit page {{page.Description}}</b></h3>
    

    <div class="row " style="margin-bottom:30px;">
        <div class=" col-xs-12">
            
            <div class="input-group" style="margin-bottom:1px;">
                <span class="input-group-addon"> Html │ Max │{{blogSettings.MAXDESCRIPTION}} │  Entered </span>
                <input class="form-control" type="text" readonly ng-model="contentCounter">
            </div>
        </div>
        <div class=" col-xs-12">
            <textarea ng-model="page.Content"  ui-tinymce="tinymceOptionsContent"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top:40px;">
        <div class=" col-xs-12 text-center ">
            <div class="btn-group ">
                <button class="btn btn-primary " ng-click="save()">Save</button>
                <a ui-sref="app.adminBlogPages" class="btn btn-default ">Cancel</a>
            </div>
        </div>
    </div>
</div>
