﻿<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.currentTag.Id == 0 ? "Add tag" :"Edit tag"}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group" ng-hide="$ctrl.currentTag.Id == 0">
        <span ng-hide="$ctrl.isSaved">Not able to save tag</span>
        <label>Id:</label> {{$ctrl.currentTag.Id}}
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" ng-model="$ctrl.currentTag.Name" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>



