﻿<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h3><b>Tags</b></h3>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul uib-pagination total-items="totalItems" direction-links="directionLinks" ng-model="currentPage"
                            ng-change="pageChanged()" num-pages="numPages" items-per-page="itemsPerPage" class="pull-right"></ul>
                    </div>
                </div>
            </div>


            <div class="panel-body">
                <div ui-view="grid"></div>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="orderByMe('Id')">Id</th>
                            <th ng-click="orderByMe('Name')">Name</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tags | orderBy:orderBy">
                            <td>{{item.Id}}</td>
                            <td>{{item.Name}}</td>
                            <td class="text-center">
                                <button class="btn btn-xs btn-primary" ng-click="deleteTag(item.Id)">Delete</button>
                                <button class="btn btn-xs btn-primary" ng-click="openTagModal({tag :item, index:$index})">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group pull-right">
                    <span class="input-group-addon bg-primary"
                          style="width:200px;color: #fff;background-color: #337ab7;border-color: #2e6da4;">
                        Page: {{currentPage}} / {{numPages}} | Items per Page:
                    </span>
                    <select class="form-control"
                            ng-model="placement.selected"
                            ng-change="itemsPerPageChanged()"
                            ng-options="o as o for o in placement.options"></select>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
                    <button class="btn btn-primary" ng-click="openTagModal({tag :tag, index: -1})">Add</button>
                </div>
            </div>

        </div>
    </div>
</div>