﻿
<div class="row">
    <div class="col-xs-12 text-center">
        <h3><b>Visitors by IP address</b></h3>
    </div>
</div>
    
<div class="row" style="padding-top:30px;" ng-repeat-start="i in visitors">
    <div class="col-xs-12">  <h4> <b>Country: {{i.CountryName}}</b></h4></div>
</div>

<div class="h-divider"></div>

<div ng-repeat="ii in i.CountryVisitors">

    <div class="row">
        <div class="col-xs-12" style="margin-top:20px;">
            <b>IpAddress:</b> {{ii.IpAddress}}
        </div>
        <div class="col-xs-12">
            {{ii.Address.City}} {{ii.Address.Region}} {{ii.Address.Zip}}
        </div>
    </div>
    <div class="row" ng-repeat="iii in ii.Visitors">
        <div class="col-xs-12" style="margin-top:10px">
            <b>User:</b>  {{(iii.UserName == null ? "Anonymous" : iii.UserName)}} {{iii.DateTimes.lenght}}
        </div>
        <div ng-repeat="iiii in iii.DateTimes track by $index" class="col-lg-3 col-md-4 col-xs-12 col-sm-6 ">
            {{iiii}}
        </div>
    </div>
   
</div>

<div class="h-divider" ng-repeat-end></div>
     