﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
  @*  @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- Bootstrap Dialog -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <!--Custom Stylesheets -->

    <script src="/bundles/modernizr?v=xAvbdyCW3raSylSLSkrKHw45t1-ZpvIIoTx4ePAEP2U1"></script>
*@

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <!-- Bootstrap Dialog -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
  
    @RenderSection("Styles", required: false)
    <!--Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/Content/site.css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             
                <a href="@Url.Action("About", "Home")" class="navbar-brand"> <span class="glyphicon glyphicon-cog"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    
                    <li>@Html.ActionLink("Posts", "GetPosts", "Blog")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Visitors
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><b>Online </b></li>
                            <li>@Html.ActionLink("visitors  locations", "WhoIsOnline", "Visitor")</li>
                            <li>@Html.ActionLink("visitors summary by country", "WhoIsOnlineByCountries", "Visitor")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>History</b></li>
                            <li>@Html.ActionLink("visitors summary  by day", "GetVisitsStatistics", "Visitor")</li>
                            <li>@Html.ActionLink("visitors summary by country", "GetHistoryVisitorsByCountry", "Visitor")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated &&  User.IsInRole("Admin"))
                    {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">  
                            <li class="dropdown-header"><b>Manage blog</b></li>                          
                            <li>@Html.ActionLink("Tags", "GetTags", "Admin")</li>
                            <li>@Html.ActionLink("Posts", "GetPosts", "Admin")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>Statistics</b></li>
                            <li>@Html.ActionLink("Visited pages", "GetVisitorStatistics", "Visitor")</li>
                            <li>@Html.ActionLink("Visiters by IP", "GetAllVisitorsByIp", "Visitor")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>Background jobs</b></li>
                            <li><a href="/Hangfire"> Hangfire dashboard</a></li>
                        </ul>                   
                    </li>
                     }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;">

        <div class="row" style="padding-top:30px;">

            <div class="col-xs-12 col-sm-8  col-md-9 ">

                <div id="main-content">

                    @RenderSection("MainContent", required: false)


                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 ">
                <div class="content ">
                    @RenderSection("RightSideContent", required: false)
                </div>
            </div>
        </div>

    </div>
    @RenderBody()

    
    <footer>
        <div class="container">
            <div class="row" style="margin-top:25px;">
                <div class="col-xs-12 text-center"> 
                  
                                    
                    @RenderSection("FooterContent", required: false)
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    @RenderSection("scripts", required: false)

    </body>
    </html>


    