﻿@using Blog.ViewModels;
@model AddCommentViewModel
<div class="row  form-group " style="margin-bottom:60px;margin-top:40px;" id="div-comment-form">
    
@using (Html.BeginForm("AddComment", "Blog"))
{
        @Html.AntiForgeryToken()
        <div class=" col-xs-12">
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-save-tmp btn-primary btn-sm">
                    <span class="glyphicon glyphicon-edit"></span> Save new comment
                </button>
                <button type="button" class="btn btn-default btn-sm  btn-cancel-new-form">Cancel</button>
            </div>
        </div>

        <div class="row" style="margin-bottom:30px;">
            <div class=" col-xs-12">
                @Html.ValidationMessageFor(m => m.CommentCharCount)
                <div class="input-group" style="margin-bottom:1px;">
                    <span class="input-group-addon"> Html │ Max │ @EditPostViewModel.MAXBODY │  Entered </span>
                    @Html.TextBoxFor(m => m.CommentCharCount, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class=" col-xs-12">
                @Html.TextAreaFor(m => m.Comment.CommentBody, new { name = "CommentBody", id = "CommentBody" })
                @Html.HiddenFor(m=> m.Comment.PostId, new { name = "PostId", id ="PostId" })
            </div>
        </div>
}
</div>

