﻿@model Blog.ViewModels.PostsViewModel
@using Blog.Controllers;

@{
    ViewBag.Title = "Posts";
    var prevPage = (1 == Model.PageNumber) ? Model.PageNumber : Model.PageNumber - 1;
    var nextPage = (Model.PagesCount == Model.PageNumber) ? Model.PageNumber : Model.PageNumber + 1;
    var linkLikesClass = Request.IsAuthenticated ? " class ='link-like' " : " class ='link-can-not' ";
   
}

@section MainContent{


@if (Model.Posts.Count() == 0)
{
    <div class="row">
        <div class="  col-sm-offset-3 col-sm-5  col-xs-12  text-center">
            <img class="img-responsive col-xs-12 " src="~/content/userimages/noposts.jpg" style="border:solid 1px gray;" />
        </div>
    </div>
}
else
{

    <ul class="pager">
        <li @Html.Raw((Model.PageNumber == prevPage) ? " class='disabled'" : "")>
            <a href="@Url.Action("GetPosts", "Blog", new { id = prevPage })">@BlogController.PostsPerPage previous</a>
        </li>
        <li @Html.Raw((Model.PageNumber == nextPage) ? " class='disabled'" : "")>
            <a href="@Url.Action("GetPosts", "Blog", new { id = nextPage })"> next @BlogController.PostsPerPage    </a>
        </li>
    </ul>
    foreach (var post in Model.Posts)
    {
        
        


        <div class="row">
            <div class=" col-xs-12" style="margin-top:40px;">
                <h4>
                    @Html.ActionLink(post.Title, "GetPost", "Blog", new { id = post.Id }, new { title = post.Title })
                </h4><i>@post.PostedOn.ToString("dd-MMM-yyyy")</i>
            </div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12 ">
                <div>@Html.Raw(post.Description) </div>
            </div>
            <div class="col-xs-12 ">                
                @Html.ActionLink("〈 Read more ... 〉", "ExpandPost", "Blog", new { id = post.Id }, new { title = post.Title, @class = "link-post-expand" })
                <div class="post-body"></div>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;">
            
            <div class="col-xs-12">
                <span>Tags: </span>
                @{
                var f = 0;
                }
                @foreach (var t in post.Tags.OrderBy(p => p.Name))
                {
                    if (f++ > 0)
                    {@Html.Raw(", ")}
                     
                    @Html.ActionLink(t.Name, "GetPostsByTag", "Blog", new { id = t.Id }, new { title = t.Name, @class = "link-tag" })
                }
            </div>
        </div>


        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12 ">
                <a href="/Blog/AddPostLike/@post.Id" @Html.Raw(linkLikesClass)>
                    <span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                    <a class="likecount" style="color:green;">@post.PostLikesCount</a>

                <a href="/Blog/AddPostDislike/@post.Id" @Html.Raw(linkLikesClass)> 
                    <span style="font-size:22px;" class="glyphicon  glyphicon-thumbs-down"></span>
                </a>
                    <a class="likecount" style="color:red;">@post.PostDislikesCount</a>
                
                    @Html.Raw("&nbsp;") <a href="/Blog/GetPost/@post.Id#ShowComments" title="See comments for post  @post.Title ">
                    @if (post.CommentsCount < 2)
                    {
                        <span style="font-size:18px;"> @post.CommentsCount</span>  @Html.Raw("Comment")}
                    else
                    {<span style="font-size:18px;"> @post.CommentsCount</span>  @Html.Raw("Comments")}
                </a>
            </div>
        </div>
        <hr />
    }

   
}

}

@section RightSideContent{
    @Html.Partial("_Tags", Model.Tags)
}





@section Scripts {
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/scripts/custom/blog.js"></script>
@{this.GetOutputWriter().Write(File.ReadAllText(Server.MapPath("/scripts/template/blogTmp.htm")));}
}

